@charset "UTF-8";

body {
	/* color: red !important; */
}

.card {}
.card .img-content { height: 160px; }
.card .img-content img { width: 100%; height: 100%; object-fit: cover;}

.card .content { max-height: 200px; }
.card .content h3 { font-size: 20px; font-weight: bold; }
.card .content p { font-size: 14px; }
.card .content .price { font-size: 18px; font-weight: bold; }